@page
@model IndexModel
@{
    ViewData["Title"] = "GamePlay";
}

<div class="text-center">
    <div class="flexColumn">
        <div class="card agAICard agAIWideCardOverride">
            <div class="card-header agAICardHeader">Play a Game: You vs AI</div>
            <div class="card-body agAICardBody">

                <!-- Scorekeeping -->
                <div class="flexRow flexStartOverride">
                    <label>Your Score:</label>
                    <span id="yourScore" class="ml-1">0</span>
                    <span class="ml-1">/ 10</span>
                </div>
                <div class="flexRow flexStartOverride">
                    <label>AgricultureAI Score:</label>
                    <span id="aiScore" class="ml-1">0</span>
                    <span class="ml-1">/ 10</span>
                </div>

                <!-- Line Divider -->
                <hr />

                <!-- Plant Image -->
                <div id="gamePlayDiv" class="flexRow">
                    <div class="flexColumn aiAIPlantImageContainer">
                        <div class="flexRow">
                            <h5 id="imageNumber">Image 1</h5>
                        </div>
                        <div class="flexRow">
                            <img id="plantImage" class="agAIPlantImage" src=""/>
                        </div>
                    </div>
                    <div class="flexColumn ml-3">

                        <div id="castVoteDiv">
                            <div class="flexRow">
                                <h6>Cast your vote and submit.</h6>
                            </div>
                            <div class="flexRow flexStartOverride ml-5">
                                <input type="radio" id="healthy" name="health" value="Healthy" onclick="updateVote()">
                                <label for="healthy" class="aiAIRadioLabel">Healthy</label>
                            </div>
                            <div class="flexRow flexStartOverride ml-5">
                                <input type="radio" id="unlhealthy" name="health" value="Unhealthy" onclick="updateVote()">
                                <label for="unlhealthy" class="aiAIRadioLabel">Unhealthy</label>
                            </div>
                        </div>

                        <div id="votesAreInDiv">
                            <div class="flexRow">
                                <h6>Votes are in!</h6>
                            </div>
                            <div class="flexRow flexStartOverride">
                                <label>Ground Truth:</label>
                                <label id="groundTruthPrediction" class="ml-1"></label>
                            </div>
                            <div class="flexRow flexStartOverride">
                                <label>AI Prediction:</label>
                                <label id="aiPrediction" class="ml-1"></label>
                            </div>
                            <div class="flexRow flexStartOverride">
                                <label>Your Prediction:</label>
                                <label id="yourPrediction" class="ml-1"></label>
                            </div>
                        </div>
                        
                        <div class="flexRow">
                            <button id="castVoteOrContinue" class="agAIButton" onclick="castVoteOrContinue()">Submit</button>
                        </div>
                    </div>
                </div>
                
                <div id="gameResultsDiv" class="flexRow" style="display: none">

                    <div class="flexRow">
                        <span>
                            <h1 id="gameResultsHeader"></h1>
                            <p id="gameResultsSummary"></p>
                        </span>
                    </div>
                    
                    <div class="flexRow">
                        <button id="playAGameStartGame" class="agAIButton" onclick="continueToGameRedirect()">Play Again</button>
                        <button id="playAGameEndGame" class="agAIButton" onclick="returnToModuleHome()">Return to Home</button>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>
