@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="flexColumn">
        <button class="agAIButton" onclick="loginRedirect()">Login</button>
        <button class="agAIButton" onclick="registerRedirect()">Register</button>
        <button class="agAIButton" onclick="continueAsGuestRedirect()">Continue As Guest</button>
    </div>
</div>
