@page
@model IndexModel
@{
    ViewData["Title"] = "Machine Learning";
}

<div class="text-center">
    <div class="flexColumn">
        <div class="card agAICard">
            <div class="card-header agAICardHeader">Learn About AI!</div>
            <div class="card-body agAICardBody">
                <div class="flexRow flexEndOverride formFlexWidth">
                    <span>
                        AI (Artificial Intelligence) is changing the world as we see it.
                    </span>
                </div>

                <button id="machineLearningGoBack" class="agAIButton" onclick="returnToModuleHome()">Go Back</button>
            </div>
        </div>
    </div>
</div>
