@page
@model IndexModel
@{
    ViewData["Title"] = "Login page";
}

<div class="text-center">
    <div class="flexColumn">
        <button class="agAIButton">Module 1</button>
        <button class="agAIButton">Module 2</button>
        <button class="agAIButton">Module 3</button>
    </div>
</div>
