@page
@model IndexModel
@{
    ViewData["Title"] = "Module Home";
}

<div class="text-center">
    <div class="flexColumn">
        <button class="agAIButton" onclick="module1Redirect()">Module 1</button>
        <button class="agAIButton">Module 2</button>
        <button class="agAIButton">Module 3</button>
    </div>
</div>
