/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  background-color: black;
}



/* Website Background */
.websiteBackground {
    background-image: url("../resources/images/WebsiteBackground.jpg");
    background-size: cover;
}


/* Global CSS */
label {
    margin-bottom: 0px !important;
}

.flexRow {
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.flexColumn {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.flexStartOverride {
    justify-content: flex-start !important;
}
.flexEndOverride {
    justify-content: flex-end !important;
}
.formFlexWidth {
    width: 355px !important;
}

.agAICard {
    width: 500px;
    border-radius: 50px !important;
}

.agAIWideCardOverride{
    width: 750px !important;
}

.agAICardHeader {
    background-color: black;
    color: white;
    border-top-left-radius: 50px !important;
    border-top-right-radius: 50px !important;
}
.agAICardBody {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 50px !important;
}

.agAIButton {
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 255, 0.5);
    color: white;
    border: 2px solid aliceblue;
    border-radius: 50px;
    margin-top: 10px;
    outline: none !important;
}
.agAIButton:hover {
    background-color: rgba(0, 0, 255, 0.3);
}

.agAIInputText {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 50px;
    outline: none !important;
    margin-left: 5px;
    padding: 5px;
    text-align: center;
}

.agAIInputCheckbox {
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.errorMessage {
    color: red;
}

.agAIPlantImage {
    width: 500px;
}

.aiAIPlantImageContainer {
    width: 500px;
}

.aiAIRadioLabel {
    margin: 0px 0px 0px 5px !important;
}


/* Gameplay CSS */
#votesAreInDiv {
    display: none;
}